/* Styles go here */
.back {
    font-size: larger;
    background-image: url(../bckk.jpg);

    height: 100%; 
    font-family:  Arial, Helvetica, sans-serif;
    font: italic small-caps bold 12px/30px Georgia, serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
    padding: 35px;
  
}
.contain {
    
    
    height: 100%; 
    font-family:  Arial, Helvetica, sans-serif;
    font: italic small-caps bold 17px/30px Georgia, serif;
    
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-container {
    border-radius: 10x;
    background-color: lightcoral;
    padding: 20px;
}

.coupon {
    border: 5px #bbb;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.w3-tangerine {
    font-family: 'Tangerine', serif;
  }
  
